@import "var_21.03.2018.css";
@import "reset.css";
@import "header.css";
@import "footer.css";

.wrapper-img {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/home-bg.jpg);
}
.about {
    padding: 7.53rem 0;
}
.sub-title {
    color: #bfba55;
    text-align: center;
    margin: 1.5rem 0 3.25rem 0;
    font-size: 0.75rem;
}
.button {
    display: block;
    margin: auto;
    padding: 0.81rem 1.375rem;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    border-radius: 6.25rem;
    transition: 1s;
}
.button:hover {
    background-color: transparent;
    color: #FFFFFF;
}

.home-img {
    margin-bottom: 2.625rem;
}
.post-info {
    display: flex;
    align-items: flex-start;
    font-size: 0.9rem;
    justify-content: space-between;
    margin-bottom: 1.375rem;
}
.post-img {
    border-radius: 50%;
    width: 2.62rem;
}
.post-desc {
    flex-basis: 20%;
    text-align: center;
}
.post-button {
    margin: 0;
    border: 2px solid #777;
    color: #777;
    text-transform: capitalize;
}
.post-button:hover {
    background-color: #bfba55;
    color: #FFFFFF;
    border: 2px solid #bfba55;
}
.text {
    margin-bottom: 2.25rem;
}
.main-article {
    margin-bottom: 7.25rem;
}
.main-article:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .main {
        padding: 7.125rem 0;
    }
    .post-info {
        width: 50%;
        align-items: center;
    }
    .post-desc {
        flex-basis: 30%;
    }
}