.services {
  padding: rem(40) 0;

  &__body {
    margin: rem(30) 0 0;
  }

  &__favor {
    margin: 0 0 rem(24);
    &:last-child {
      margin: 0 0 0;
    }
  }
}

.favor {
  padding: rem(40) rem(20);
  border: rem(1) solid #e5e7e9;

  &__img {
    margin: 0 auto rem(36);
  }

  &__sub-title {
    margin: 0 0 rem(16);
  }
}
