.test {
  padding: rem(40) 0;

  &__body {
    margin: rem(30) 0 0;
    display: flex;
    flex-direction: column-reverse;
  }

  &__img {
    margin: 0 0 rem(24);
  }

  &__title {
    margin: rem(13) 0;
    font-family: $font;
    font-style: italic;
    text-transform: capitalize;
  }
}
