.news {
  padding: rem(40) 0;

  &__body {
    margin: rem(30) 0 0;
  }

  &__post {
    margin-bottom: rem(24);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.post {

  &__container {
    box-shadow: rem(1) rem(1) rem(17) #ffffff;
    background-color: $white;
    padding: rem(24) rem(24) rem(48) rem(24);
    text-align: center;

    & > .sub-title--green {
      text-align: center;
    }
  }

  &__date {
    font-weight: 700;
    font-size: rem(16);
    text-transform: uppercase;
    color: $black;
    font-family: $font;
    letter-spacing: rem(1);
    margin: 0 0 rem(16);
    display: block;
  }

  &__sub-title {
    text-transform: uppercase;
    margin: 0 0 rem(16);
  }
}



@media (min-width: 768px) {
  .news {
    padding: rem(80) 0;

    &__body {
      display: flex;
      justify-content: space-around;
      margin: rem(72) 0 0;
    }

    &__post {
      flex-basis: prc(210, 736);
      margin: 0;
    }
  }
}
