
.test {
  padding: rem(40) 0;

  &__body {
    margin: rem(30) 0 0;
    display: flex;
    flex-direction: column-reverse;
  }

  &__img {
    margin: 0 0 rem(24);
  }

  &__title {
    margin: rem(13) 0 0;
    font-family: $font;
    text-transform: capitalize;
    font-style: italic;
  }

  &__text {
    margin-top: rem(13);
  }
}



@media (min-width: 768px) {
  .test {
    padding: rem(80) 0;

    &__body {
      width: prc(480, 736);
      margin: rem(30) auto 0;
    }
  }
}



@media (min-width: 1024px) {
  .test {
    &__body {
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      justify-content: space-around;
    }

    &__img {
      margin: 0;
      width: prc(455, 910);
    }

    &__caption {
      flex-basis: prc(407, 910);
    }
  }
}
