/*задание 2*/
/*:root {
    --fon: #424242;
    --col1: #2ea2f3;
    --col2: #199586;
    --col3: #e62365;
    --col4: #f1483d;
    --col5: #fc5b2d;
    --col6: #9b12ae;
    --col7: #4db051;
    --col8: #fcef41;
    --col9: #398ef2;
}*/


/*задание 3*/

