* {
    /*bszbb - аббревиатура*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*1секция*/
.wrapper-header {
    background-image: url("../img/pic1.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
}

.wrapper-top {

}

.container {
    /*width: 1140px;*/
}





/*2 секция*/
.wrapper {

}

.about {
    background-image: url("../img/world_map.png");
    background-repeat: no-repeat;
}