@import "variable_task_06.css";

* {
    /*bszbb - аббревиатура*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: auto;
    padding: 0 15px;
}

/*1секция*/
.wrapper-header {
    background-image: url("../img/pic1.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    /*width: 100%;*/
    /*height: auto;*/
}

.wrapper-top {
    background-color: rgba(255,255,255,0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 80px; /*минимальная высота - использовать в том случае, если мы знаем, что эта высота будет статичной по дефолту*/
    /*line-height: 80px; межстрочный интервал*/
    align-items: center;
}

.nav {
    flex-basis: 510px;
}

.menu {
    display: flex;
    justify-content: space-between;
}


.logo {
    font-family: 'Euphoria Script', cursive;
    font-size: 32px;
    color: #95a5ad;
}

.logo-span {
    color: var(--btn-color);
}

.menu-link {
    font-family: var(--text);
    font-size: 12px;
    font-weight: bold;
    color: #9daeb6;
    text-transform: uppercase;
    padding-bottom: 10px;

}

.menu-link:hover {
    border-bottom: 2px solid var(--btn-color);
}

.call {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    color: var(--btn-color);
    padding: 14px 44px;
    border: 2px solid var(--btn-color);
    border-radius: 4px;
    transition: 0.3s; /*плавное использование hover*/
}

.call:hover {
    background-color: var(--btn-color);
    color: #fff;
}

.info {
    padding: 170px 0 190px 40px;
}

.info-item {
    font-family: var(--text);
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

.info-span {
    font-family: 'Euphoria Script', cursive;
    font-size: 65px;
    color: var(--btn-color);
    text-transform: none;
    display: block;
    margin-top: -30px;
}

.info-text {
    margin-top: 5px;
    font-family: var(--text);
    font-size: 18px;
    color: #d7dde1;
    max-width: 450px;
}

.info-btn {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: var(--btn-color);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    padding: 20px 75px;
    border: 2px solid var(--btn-color);
    border-radius: 4px;
    transition: 0.3s; /*плавное использование hover*/
    margin-top: 30px;
}

.info-btn:hover {
    background-color: transparent;
    border: 2px solid var(--btn-color);
    letter-spacing: 2px; /*расстояние между буквами*/
}

/*2 секция*/
.wrapper {
    background-color: #f6f4f4;
}

.about {
    background-image: url("../img/world_map.png");
    background-repeat: no-repeat;
    background-position: 90px 20px;
    position: relative;
    padding-top: 255px;
    padding-bottom: 230px;
}

.about-title {
    font-family: var(--text);
    font-size: 20px;
    color: #393b44;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.text {
    font-family: var(--text);
    font-size: 14px;
    color: #949494;
}

.about-text {
    max-width: 350px;
}

.about-btn {
    padding: 14px 24px;
    letter-spacing: 2px;
}

.about-btn:hover {
    padding: 14px 24px;
    color: var(--btn-color);
}


.about-pict1 {
    width: 800px;
    height: 570px;
    display: block;
    position: absolute;
    top: -35px;
    right: -104px;
}

.about-pict2 {
    width: 350px;
    /*height: 330px;*/
    display: block;
    position: absolute;
    bottom: 40px;
    left: 380px;
}




/*секция 3*/
.wrapper-journal {
    background-color: #ffffff;
}

.title {
    font-size: 30px;
    text-align: center;
    color: #2c2e37;
    font-family: var(--text);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 80px;
}

.journal {
    padding: 110px 0 90px 0;
}

.journal-body {
    display: flex;
    counter-reset: journal-counter; /*создаем счетчик в контейнере и даем ему имя*/
}

.journal-article {
    flex-basis: 33.3%;
    counter-increment: journal-counter; /*указываем, что мы будем считать, в данном случае статью*/
}

.journal-article-caption {
    font-size: 11px;
    font-family: var(--text);
    text-transform: uppercase;
    color: var(--btn-color);
}

.journal-img {
    width: 380px;
    height: 380px;
}

.journal-article-title {
    font-family: var(--text);
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    margin: 50px 0 30px 0;
}

.article-content {
    padding: 50px 30px 30px 30px;
    text-align: center;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

/*указываем счетчик*/
.article-content > .text:after {
    content: "0"counter(journal-counter);
    display: block;
    font-size: 14px;
    font-family: var(--text);
    margin-top: 25px;
    font-style: italic;
}

.rev {

}

.icon-container {
    position: relative;
}

.fa-gratipay, .fa-envira, .fa-tint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}