* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Playfair Display", sans-serif;
}

.wrapper {
	max-width: 900px;
	margin: auto;
	padding: 75px 0 65px 0 ;
}

.header {
	margin: 0 0 130px 0;

}

.nav-list, .list-box {
	display: inline-block;

}

.menu {
	text-align: center;
}

.nav-list {
	margin-right: 100px;
}

.nav-list:last-child {
	margin-right: 0;
}

.nav-list-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #626262;
	font-size: 14px;
	font-weight: bold;
}

.nav-list:hover > .nav-list-link {
	color: #03a9f4;
}

/*исправил ошибку, на которую указал Вова*/
.list-box:nth-child(-n+2) {
	margin-top: 0;
}



.main {
	margin-bottom: 56px;
}
/*.box {
	display: inline-block;
	margin: auto;
}*/

.list-box {
	max-width: 420px;
	margin-right: 56px;
	margin-top: 130px;
}

.list-box:nth-child(2n+2) {
	margin-right: 0;
}


.name_text {
	margin-top: 30px;
	font-family: "Ubuntu", sans-serif;
	color: #c8c3b8;
	text-transform: uppercase;
}

.caption {
	font-size: 30px;
	color: #626262;
	margin-top: 60px;
}

.text {
	font-size: 14px;
	color: #626262;
	margin-top: 40px;
}

.text:last-child(-1n+2)  {
	font-size: 14px;
	color: #626262;
	margin-top: 40px;
	margin-bottom: 10px;
}

.picture {
	width: 420px;
	height: 275px;
}

.btn {
	display: block;
	margin: auto;
	width: 160px;
	height: 55px;
	border: 1px solid #626262;
	/*margin-bottom: 65px;*/
	font-size: 20px;
	background-color: white;
	color: #6c6c6c;
}
