/*@font-face {
    font-family: "SENYUM";
    src: url("../font/font/SENYUM V1/SENYUM V1.ttf")format("truetype"),
url("../font/font/SENYUM V1.woff")format("woff"),
url("../font/font/SENYUM V1.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: "Wisdom";
    src: url("../font/WisdomScriptAI/WisdomScriptAI.woff2")format("woff2");
         url("../font/WisdomScriptAI/WisdomScriptAI.woff")format("woff");
         url("../font/WisdomScriptAI/WisdomScriptAI.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src:  url("../font/Montserrat-Regular/Montserrat-Regular.woff2")format("woff2");
         url("../font/Montserrat-Regular/Montserrat-Regular.woff")format("woff");
         url("../font/Montserrat-Regular/Montserrat-Regular.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Bold/Montserrat-Bold.woff2")format("woff2");
         url("../font/Montserrat-Bold/Montserrat-Bold.woff")format("woff");
         url("../font/Montserrat-Bold/Montserrat-Bold.ttf")rormat("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/roboto-slab-v7-latin-300.woff")format("woff");
         url("../font/Roboto/roboto-slab-v7-latin-300.woff2")format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/roboto-slab-v7-regular.woff")format("woff");
url("../font/Roboto/roboto-slab-v7-regular.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;
}

