@import "font_hw_07.css";
@import "variable_hw_07.css";


.container {
    width: 930px;
    margin: auto;
}
/*хэдэр*/
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 2.687rem;
}
.logo {
    font-family: var(--ffw);
    color: #fed136;
    font-size: 1.625rem;
    text-decoration: none;
}
.nav {
    flex-basis: 30rem;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.menu-item-link {
    font-family: var(--ffm);
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
}



.caption {
    font-family: var(--ffm);
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
}
.text-caption {
    font-family: "Droid Sans", sans-serif;
    font-style: italic;
    font-size: 1rem;
    color: #777777;
    text-align: center;
}
.about {
    display: flex;
    text-align: center;
    border: 1px solid #66A523;
}
.about-caption {
    font-family: var(--ffm);
    font-size: 1.125rem;
}
.about-text {
    font-family: var(--ffr);
    font-size: 0.875rem;

}