@import "font_hw_07.css";
@import "variable_hw_07.css";


.container {
    width: 58.125rem;
    margin: auto;
}
/*хэдэр*/
.header {
    display: flex;
    justify-content: space-between;
    margin: 2.687rem;
}
.logo {
    font-family: var(--ffw);
    color: #fed136;
    font-size: 1.625rem;
    text-decoration: none;

}
.logo:hover  {
    color: black;
}
.logo:first-letter {
    color: #fed136;
}
.nav {
    flex-basis: 30rem;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
}
.menu-item-link {
    font-family: var(--ffm);
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
}
.menu-item-link:hover {
    color: #fed136;
}


.box1 {
    padding: 7rem 0 7.5rem 0;
}
.caption {
    font-family: var(--ffm);
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
}
.text-caption {
    font-family: "Droid Sans", sans-serif;
    font-style: italic;
    font-size: 1rem;
    color: #777777;
    text-align: center;
}
.about {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 4.6875rem 0 0 0;
    /*border: 1px solid #66A523;*/
}
.about-article {
    flex-basis: 29%;
}
.about-caption {
    font-family: var(--ffm);
    font-size: 1.125rem;
}
.about-text {
    font-family: ver(--ffr)
    font-size: 0.875rem;
}
.about-pic {
    width: ;
}




.box2 {
    background-color: #222222;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 6.875rem 0 7rem 0;
}
.cap2 {
    color: #FFFFFF;
}
.form {
    width: 100%;
    margin: 4.875rem 0 0 0;
    /*border: 2px solid orange;*/
}
.input-box {
    width: 100%;
    height: 13.125rem;
    display: flex;
    justify-content: space-between;
    /*border: 2px solid dodgerblue;*/
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47.8%;
    /*border: 2px solid limegreen;*/
}
.input {
    line-height: 3.125rem;
    border-radius: 0.25rem;
    border: 0;
    padding: 0 0 0 1.25rem;
    font-family: var(--ffm);
}
.input[required]:valid {
    box-shadow: inset 0px 0px 7px 4px rgba(61,207,35,1);
}
.input[required]:invalid {
    box-shadow: inset 0px 0px 7px 4px rgba(227,77,28,1);
}
.message {
    width: 47.8%;
    border-radius: 0.25rem;
    border: 0;
    padding: 1.25rem 0 0 1.25rem;
    font-family: var(--ffm);
}
.message[required]:valid {
    box-shadow: inset 0px 0px 7px 4px rgba(61,207,35,1);
}
.message[required]:invalid {
    box-shadow: inset 0px 0px 7px 4px rgba(227,77,28,1);
}
.btn {
    display: block;
    margin: 1.875rem auto;
    padding: 1.53125rem 3rem;
    font-family: var(--ffm);
    color: #FFFFFF;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #fed136;
    border: 0;
    border-radius: 0.25rem;
}