* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

.image-gallery {
    width: 80vh;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.preview {
    display: flex;
    justify-content: space-between;
}

.preview li {
    flex-basis: 8%;
}

.fullview {
    padding-top: 20px;
}

.active {
    border-radius: 50%;
}