* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.picture {
    width: 370px;
    height: 420px;
    background-image: url("../img/first.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
}

@mdeia (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .picture {
        background-image: url("../img/second@2X.jpeg");
    }
}